@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather+Sans:wght@500&family=Pacifico&display=swap');
*
{
    margin: 0;
    color: white;
}
.container
{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    place-items: center;
    align-items: center;
    background: rgb(101, 18, 18);
}
.block
{
    border: 1px solid black;
    padding: 1vw;
    border-radius: 5px;
    background-color: 	#cb2323;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.flex 
{
    display: flex;
    height: 100%;
}
.formula
{
    display: grid;
    place-content: center;
    place-items: center;
    align-items: center;
    margin: 2vw;
    padding: 3vw;
    font-size: 2vw;
}
.block .inp
{
    display: block;
}
input
{
    height: 5vh;
    width: 15vw;
    margin: 2vw;
    background-color: black;
    border: 3px solid white;
    font-size: 2vw;
    font-weight: 900;
}
h1
{
    font-size: 5vw;
    /* font-family: 'Pacifico', cursive; */
    margin: 2vw;
}
@media screen and (max-width:800px)
{
    .block
    {
        width: 75vw;
        display: grid;
        place-content: center;
        place-items: center;
        align-items: center;
    }
    input
    {
        height: 5vh;
        width: 35vw;
        margin: 2vw;
        background-color: transparent;
        border: 1px solid black;
        font-size: 2vh;
        font-weight: 900;
    }
    h1 
    {
        font-size: 6vw;
    }
    .flex
    {
        display: grid;
    }
    .formula
    {
        font-size: 6vw;
    }

}